/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.login-client-name {
	color: darkgray;
	margin-bottom: 30px;
	font-size: 36px;
	font-weight: bolder;
	padding-left: 9px;
}
.dialog-closeButton {
	float:right;
    margin-top:-31px;
    width:26px;
    height:27px;
    display:block;
    border-style: none;
    border-width: 0px;
    background-image: url(myimage/closebutton.jpg);
}
.gwt-StackLayoutPanel 
.gwt-StackLayoutPanelHeader{
	background: url("myimage/dockpanel-header.png") repeat-x !important;
}

/* celltable header css */
.GKB1FWDCJD	{
		background-color: #4DADC6;/* #55B0C8; */
		color: #08094D !important;
		text-shadow: none !important; 
}

/* error msg label css...may not be used */
.errorMessagePopupLabel{
	background-color: #53AFC8; /* red #ed1c24; blue 53AFC8 */
	width: 140px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	font-size: 11px;
	box-shadow: 2px 2px 7px 2px #909090;
}

.popUpBackgroudDisable{
	 padding: 3px;
}

/*error message above textfield*/
.GKB1FWDCFJ{
	background-color: #f08181;
	border: 2px solid #ff0000;
}

